<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Users</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" (click)="redirectNewUserPage()">New User</button>
            </div>
          </div>

        </header>
      </section>

      <section class="main">

        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Post</th>
            <th>email</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{user.id}}</th>
            <td>{{user.nom}}</td>
            <td>{{user.prenom}}</td>
            <td>{{user.post}}</td>
            <td>{{user.mail}}</td>
            <td>
              <button type="button" class="btn btn-success" (click)="editUserPage(user)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)"  onClick="window.location.reload()" >Delete</button>
            </td>
          </tr>

          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
