<p>
  user-create works!


  
</p>
<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <label>Nom</label>
              <input type="text"
                     class="form-control"
                     formControlName="nom">
            </div>

            <div class="form-group">
              <label>Prenom</label>
              <input type="text"
                     class="form-control"
                     formControlName="prenom">
            </div>
            <div class="form-group">
              <label>post</label>
              <input type="text"
                     class="form-control"
                     formControlName="post">
            </div>
            
          

          <div class="form-group">
            <label>Email</label>
            <input type="email"
                   class="form-control"
                   formControlName="mail">
                   
          </div>
          <div class="form-group">
            <label>pwd</label>
            <input type="text"
                   class="form-control"
                   formControlName="pwd">
          </div>
          <div class="form-group">
            <label>role</label>
            <input type="text"
                   class="form-control"
                   formControlName="role">
          </div>
        </fieldset>

         <button type="submit" class="btn btn-primary"  [disabled]="!userForm.valid" >Submit</button>
         
      <!-- <button type="submit" class="btn btn-primary" >Submit</button>-->
         
         
         <button type="button" class="btn btn-warning" (click)="redirectUserPage()">Cancel</button>
          <pre>{{userForm.value | json}}</pre>
        </form>
      </section>
    </div>
  </div>
</div>
